<!DOCTYPE html>
<html ng-app="MusicPlayer" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Music player</title>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body ng-controller="MusicPlayerController as mpCtrl">
    <div class="wrap">
        <header>
            <h1><a href="" class="linkglyphicon" onclick="table()"><span class="glyphicon glyphicon-th-large"></span></a></h1>
        </header>
        <!--Le player graphique de deezer-->
        <div id="dz-root"></div>
        <div id="dz-player" style="width:100%; display: none" align="center"></div>
        <!--END player deezer-->

        <!--Player custom-->
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section id="player">
                <div ng-repeat="track in currentTrack" class="cover_current">
                    <img ng-src="{{track.album.cover}}">
                </div>
                <span id="current_track" class="current_track"></span>
                <span class="glyphicon glyphicon-play" aria-hidden="true" ng-click="mpCtrl.myMusicPlayer.play()"></span>
                <span class="glyphicon glyphicon-pause" aria-hidden="true" style="display: none;" onclick="DZ.player.pause();return false;"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <!--Icone de gestion du volume-->
                <div id="volumeDiv">
                    <span class="tooltip"></span>
                    <div id="slider"></div>
                    <span class="volume"></span>
                </div>
            </section>
        </div>
        <!--END player custom-->

        <!--Contenu de la page (one page)-->
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section ng-controller="TabController as tab" ng-init="load()" class="playliste">
            <ul class="nav nav-pills">
                <li ng-class="{ active:tab.isSet(1) }">
                    <a href ng-click="tab.setTab(1)">Playlist</a>
                </li>
                <li ng-class="{ active:tab.isSet(2) }">
                    <a href ng-click="tab.setTab(2)">Catalogue</a>
                </li>
                <li ng-class="{ active:tab.isSet(3) }">
                    <a href ng-click="tab.setTab(3)">Rechercher</a>
                </li>
            </ul>
            <!--Affichage liste-->
            <div id="tableau">
                <!--Playlist-->
                <div ng-show="tab.isSet(1)" align="center">
                    <table class="table table-striped">
                        <tr ng-repeat="track in playlistDatas | orderBy: '-vote'" ng-init="id_song=$index">
                            <div class="row">
                                <td class="col-md-1">
                                    <span class="glyphicon glyphicon-fire {{track.id}}" style="display: none;"></span>
                                </td>
                                <td class="col-md-1"><img ng-src="{{track.cover}}" class="image"></td>
                                <td class="col-md-3">{{track.album}} </td>
                                <td class="col-md-3">{{track.title}} </td>
                                <td class="col-md-2">{{track.artist}}</td>
                                <td class="col-md-1">{{track.duration/60 | number:0}}:{{track.duration%60}}</td>
                                <td class="col-md-1 align-right">
                                    {{track.vote}} <span class="glyphicon glyphicon-heart" ng-click="vote(track.id, track.vote)"></span>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
                <!--Catalogue-->
                <div ng-show="tab.isSet(2)" align="center">
                    <!--Filtre dans le catalogue.txt-->
                    <fieldset class="form-group">
                        <input ng-model="filterExpr" class="form-control search" placeholder="Filtre..." title="Filtre"/>
                    </fieldset>
                    <!--Liste-->
                    <table class="table table-striped">
                        <tr ng-repeat="data in filtered = (catDatas | filter:filterExpr)" ng-init="index_song=$index">
                            <div class="row">
                                <td class="col-md-1">
                                    <img ng-src="{{data.album.cover}}" class="image">
                                </td>
                                <td class="col-md-3">{{data.album.title}}</td>
                                <td class="col-md-3">{{data.title}}</td>
                                <td class="col-md-2">{{data.artist.name}}</td>
                                <td class="col-md-1">{{data.duration/60 | number:0}}:{{data.duration%60}}</td>
                                <td class="col-md-1">
                                    <span class="glyphicon glyphicon-plus" ng-click="mpCtrl.addPlay(index_song)"></span>
                                </td>
                                <td class="col-md-1">
                                    <span class="glyphicon glyphicon-remove" ng-click="mpCtrl.deletePlay(data.id)"></span>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
                <!--Recherche-->
                <div ng-show="tab.isSet(3)" align="center">
                    <fieldset class="form-group">
                        <input ng-model="mpCtrl.search_text" ng-change="mpCtrl.search(search_text)" class="form-control search" placeholder="Search for a song..." title="Search"/>
                    </fieldset>
                    <table class="table table-striped">
                        <tr ng-repeat="data in mpCtrl.datas.data" ng-init="index_song=$index">
                            <div class="row">
                                <td class="col-md-1">
                                    <img ng-src="{{data.album.cover}}" class="image_recherche">
                                </td>
                                <td class="col-md-3">{{data.album.title}}</td>
                                <td class="col-md-3">{{data.title}}</td>
                                <td class="col-md-3">{{data.artist.name}}</td>
                                <td class="col-md-1">
                                    <span class="glyphicon glyphicon-plus" ng-click="mpCtrl.addCat(index_song)"></span>
                                </td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
            <!--Affichage blocs-->
            <div id="grille">
                <!--Playlist-->
                <div ng-show="tab.isSet(1)" align="center">
                    <div class="row">
                        <div ng-repeat="track in playlistDatas | orderBy: '-vote'" ng-init="index_song=$index">
                            <div class="col-sm-12 col-md-6">
                                <div class="thumbnail">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img ng-src={{track.cover}} class="gril-pic">
                                        </div>
                                        <div class="description col-md-8">
                                            <p class="titreChanson">{{track.title}}</p>
                                            <p>{{track.artist}}</p>
                                            <p class="nomAlbum">{{track.album}}<br/></p>
                                            <p class="infosTrack">
                                                {{track.duration/60 | number:0}}:{{track.duration%60}} | {{track.vote}} vote(s) <span class="glyphicon glyphicon-heart" ng-click="vote(track.id, track.vote)"></span><br/>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Catalogue-->
                <div ng-show="tab.isSet(2)" align="center">
                    <fieldset class="form-group">
                        <input ng-model="filterExpr" class="form-control search" placeholder="Filtre..." title="Filtre"/>
                    </fieldset>
                    <div class="row">
                        <div ng-repeat="data in filtered = (catDatas | filter:filterExpr)" ng-init="id_song=$index" >
                            <div class="col-sm-6 col-md-6">
                                <div class="thumbnail">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img ng-src="{{data.album.cover}}" class="gril-pic">
                                        </div>
                                        <div class="description col-md-8">
                                            <p class="titreChanson">{{data.title}}</p>
                                            <p>{{data.artist.name}}</p>
                                            <p class="nomAlbum">{{data.album.title}}<br/></p>
                                            <p class="infosTrack">{{data.duration/60 | number:0}}:{{data.duration%60}} <span class="glyphicon glyphicon-plus optionsCatalogue" ng-click="mpCtrl.addPlay(index_song)"></span>  <span class="glyphicon glyphicon-remove optionsCatalogue" ng-click="mpCtrl.deletePlay(data.id)"></span><br/></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recherche-->
                <div ng-show="tab.isSet(3)" align="center">
                    <fieldset class="form-group">
                        <input ng-model="mpCtrl.search_text" ng-change="mpCtrl.search(search_text)" class="form-control search" placeholder="Search for a song..." title="Search"/>
                    </fieldset>
                    <div class="row">
                        <div ng-repeat="data in mpCtrl.datas.data" ng-init="index_song=$index">
                            <div class="col-sm-6 col-md-6">
                                <div class="thumbnail">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img ng-src="{{data.album.cover}}" class="gril-pic">
                                        </div>
                                        <div class="description col-md-8">
                                            <p class="titreChanson">{{data.title}}</p>
                                            <p>{{data.artist.name}}</p>
                                            <p class="nomAlbum">{{data.album.title}}<br/></p>
                                            <p class="infosTrack">{{data.duration/60 | number:0}}:{{data.duration%60}} <span class="glyphicon glyphicon-plus optionsCatalogue" ng-click="mpCtrl.addCat(index_song)"></span><br/></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <p>Projet LTW2 - Master IC²A</p>
        <p>ARNAUD Alizée - COTE Guillaume - SIBE Mickaël - ZHANG Qi</p>
    </footer>

<!--SCRIPTS-->
<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script>
    // Gestion des différents affichages (blocs ou liste)
    function table(){
        if(tableau.style.display !== 'none'){
            tableau.style.display = 'none';
            grille.style.display = 'block';
        }else{
            tableau.style.display = 'block';
            grille.style.display = 'none';
        }
    }
</script>
<script>
    // Gestion du curseur volume
    $(function() {
        var slider  = $('#slider'),
        tooltip = $('.tooltip');
        tooltip.hide();
        slider.slider({
            range: "min",
            min: 1,
            value: 35,
            start: function(event,ui) {
                tooltip.fadeIn('fast');
            },
            slide: function(event, ui) {
                DZ.player.setVolume(ui.value);
                var value  = slider.slider('value'),
                        volume = $('.volume');
                tooltip.css('left', value).text(ui.value);
                if(value <= 5) {
                    volume.css('background-position', '0 0');
                }
                else if (value <= 25) {
                    volume.css('background-position', '0 -25px');
                }
                else if (value <= 75) {
                    volume.css('background-position', '0 -50px');
                }
                else {
                    volume.css('background-position', '0 -75px');
                };
            },
            stop: function(event,ui) {
                tooltip.fadeOut('fast');
            }
        });
    });
</script>
<script>
    var app = angular.module("MusicPlayer", []);
    // Gestion des Tabs angular
    app.controller('TabController', ['$http', function($http){
        var playlist = this;
        playlist.tab = 1;
        playlist.isSet = function(checkTab) {
            return this.tab === checkTab;
        };
        playlist.setTab = function(setTab) {
            this.tab = setTab;
        };
    }]);

    // Controleur Global de l'application
    app.controller('MusicPlayerController',['$http', '$scope', function($http, $scope){
        this.musicPlayer = new MusicPlayerRestClient();
        var that = this;
        DZ.player.setVolume(30);
        that.search_text = "";
        that.datas = { };
        that.currentIndex = 0;

        //Fonction de recherche
        that.search = function(){
            DZ.api('/search?q=' + this.search_text, function(response){
                that.datas = response;
            });
        };

        //Fonction d'ajout de la recherche vers le catalogue.txt
        $scope.catDatas = [ ];
        that.addCat = function(index){
            $http.get('http://localhost:3000/projetweb/tracks/catalogueTracks').
                    success(function(resp){
                        console.log("GET successful : " + resp + " (addCat)");
                    }).
                    error(function(){
                        console.log("GET failed");
                    });
            $http.put('http://localhost:3000/projetweb/tracks/catalogueTracks',
                    JSON.stringify({data: that.datas.data[index].id}),
                    {headers: { 'Content-Type': 'application/json'}}).
                    success(function(resp){
                        console.log(that.datas.data[index].id);
                        DZ.api('/track/' + resp, function(response){
                            $scope.catDatas.push(response);
                        });
                        that.catSongs.push(resp);
                        //console.log("PUT successful : " + resp + " (addCat)");
                    }).
                    error(function(){
                        console.log("PUT failed");
                    });
        };

        //Fonction d'ajout du catalogue.txt vers la playlist
        that.catSongs = [ ];
        $scope.playlistDatas = [ ];
        that.addPlay = function(index){
            $http.get('http://localhost:3000/projetweb/tracks/catalogueTracks').
                    success(function(resp){
                        that.catSongs = resp;
                        //console.log("GET successful : " + that.catSongs + " (addPlay)");
                    }).
                    error(function(){
                        console.log("GET failed");
                    });
            $http.put('http://localhost:3000/projetweb/tracks/allTracks',
                    JSON.stringify({id: that.catSongs[index], vote: 0}),
                    {headers: { 'Content-Type': 'application/json'}}).
                    success(function(resp){
                        DZ.api('/track/' + resp.id, function(response){
                            var song = {id: response.id, cover: response.album.cover, album: response.album.title,
                                title: response.title, artist: response.artist.name, duration: response.duration, vote: resp.vote};
                            $scope.playlistDatas.push(song);
                            // on ajoute maintenant la track à la liste en cours de lecture
                            DZ.player.addToQueue([resp.id]);
                        });
                    }).
                    error(function(){
                        console.log("PUT failed");
                    });
        };

        //Fonction de suppression
        that.deletePlay = function(index){
            $http.get('http://localhost:3000/projetweb/tracks/catalogueTracks').
                    success(function(resp){
                        console.log("GET successful : " + resp + " (deletePlay)");
                    }).
                    error(function(){
                        console.log("GET failed");
                    });
            $http.delete('http://localhost:3000/projetweb/catalogueTracks/delete/'+index).
                    success(function(resp){
                        var newCat = [ ];
                        console.log(resp);
                        for(i = 0; i < $scope.catDatas.length; i++){
                            if($scope.catDatas[i].id != resp)
                                newCat.push($scope.catDatas[i]);
                        }
                        console.log(newCat);
                        $scope.catDatas = newCat;
                    }).
                    error(function(){
                        console.log("DELETE failed");
                    });

        };

        //Fonction de vote
        $scope.vote = function(id, vote){
            $http.get('http://localhost:3000/projetweb/tracks/allTracks').
                    success(function(resp){
                        //console.log(resp);
                    }).
                    error(function(){
                        console.log("GET failed");
                    });
            $http.put('http://localhost:3000/projetweb/tracks/allTracks',
                    JSON.stringify({id: id, vote: vote+1}),
                    {headers: { 'Content-Type': 'application/json'}}).
                    success(function(resp){
                        for(j = 0; j < $scope.playlistDatas.length; j++){
                            if($scope.playlistDatas[j].id == id){
                                $scope.playlistDatas[j].vote = vote+1;
                            }
                        }
                    });
        };

        //Fonction de chargement du catalogue.txt au démmarage
        $scope.load = function(){
            $http.get('http://localhost:3000/projetweb/tracks/catalogueTracks').
                    success(function(resp){
                        for(k = 0; k < resp.length; k++){
                            DZ.api('/track/' + resp[k], function(response){
                                $scope.catDatas.push(response);
                            })
                            that.catSongs.push(resp[k]);
                        }
                        console.log("GET successful(load)");
                    }).
                    error(function(){
                        console.log("GET failed");
                    });
        };

        // Gestion de la progress bar
        DZ.Event.subscribe('player_position', function(arg) {
            var pourcentage = (arg[0] / arg[1]) * 100;
            $(".progress-bar").css('width', pourcentage + '%');
        });

        // Infos de la musique en cours de lecture
        $scope.currentTrack = [];
        DZ.Event.subscribe('current_track', function(arg) {
            $("#current_track").html('<span>'+arg.track.title+'</span><br />'+arg.track.artist.name);
            DZ.api('/track/' + arg.track.id, function (track) {
                $scope.currentTrack = [];
                $scope.currentTrack.push(track);
                $scope.$apply();
            })
            that.currentTrackId = DZ.player.getCurrentTrack().id;
        });


        // Gestion de l'affichage des boutons play/pause
        that.isPlaying = false;
        DZ.Event.subscribe('player_play', function(arg) {
            that.isPlaying = true;
            console.log('play ! '+that.isPlaying);
            $('.glyphicon-pause').show();
            $('.glyphicon-play').hide();
            var currentId = DZ.player.getCurrentTrack().id;
            console.log('currentId : '+currentId);
            $('.glyphicon-fire').hide();
            $('.' + currentId).show();
        });
        DZ.Event.subscribe('player_paused', function(arg) {
            that.isPlaying = false;
            console.log('pause ! '+that.isPlaying);
            $('.glyphicon-pause').hide();
            $('.glyphicon-play').show();
        });

        // récupération de la playlist dans la BDD
        that.myMusicPlayer = myMusicPlayer;
        that.tracks = [];
        that.tracks = that.musicPlayer.getAllTrack();
        that.tracks = JSON.parse(this.tracks);
        that.tracks = that.tracks.data;

        // Gestion des votes
        that.tracks.sort(function(a, b){
            return a.vote - b.vote;
        });
        that.tracks.reverse();
        that.tracksid = [ ];
        that.voteNB = [ ];

        for (i = 0; i < that.tracks.length; i++) {
            that.tracksid[i] = that.tracks[i].id;
            that.voteNB[i] = that.tracks[i].vote;
            DZ.api('/track/' + that.tracksid[i], function (track) {
                var song = {id: that.tracksid[i-that.tracks.length], cover: track.album.cover, album: track.album.title,
                    title: track.title, artist: track.artist.name, duration: track.duration, vote: that.voteNB[i-that.tracks.length]};
                i++;
                $scope.playlistDatas.push(song);
            });
        }
        that.myMusicPlayer.tracks = that.tracksid;

        // Démarrage de la lecture automatique à l'ouverture de la page
        that.myMusicPlayer.play();

        // Si nouvel utilisateur qui arrive sur le site,
        // on donne la position de la track en cours pour lancer la lecture au bon endroit
        DZ.Event.subscribe('player_position', function(e){
            // on envoie au serveur toutes les secondes la position et le numéro de la track en cours
            if(e[0]){
                that.musicPlayer.postPositionTrackPlaylist(e[0], DZ.player.getCurrentIndex());
                that.musicPlayer.getPositionTrack();
                $scope.$apply();
            }
        });
    }]);
</script>
<!--Initialisation du player-->
<script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
<script>
    DZ.init({
        appId  : 'YOUR_APP_ID',
        channelUrl : 'http://YOUR_DOMAIN/channel.html',
        player: {
            container: 'dz-player',
            width : 700,
            height : 80,
            onload : function(){
                myMusicPlayer.play();
            }
        }
    });
</script>
<script>
    function MusicPlayer() {
        this.musicPlayer = new MusicPlayerRestClient();
        this.tracks = [];
        this.play = function(){
            DZ.player.playTracks(this.tracks, this.musicPlayer.getNumTrack(), this.musicPlayer.getPositionTrack());
        }
    }
    function MusicPlayerRestClient(){
        var CURRENT_TRACK_URI               = 'http://localhost:3000/projetweb/tracks/currentTrack';
        var ALL_TRACKS_URI                  = 'http://localhost:3000/projetweb/tracks/allTracks';
        var POSITION_TRACK_PLAYLIST_URI     = 'http://localhost:3000/playlist/positionTrackPlaylist';
        var GET_POSITION_TRACK_URI          = 'http://localhost:3000/playlist/getPositionTrackPlaylist';
        var GET_NUM_TRACK_URI               = 'http://localhost:3000/playlist/numTrack';

        this.getCurrentTrack = function(){
            var currentTrack = this.doRequest('GET', CURRENT_TRACK_URI, null);
            return currentTrack;
        };

        this.getAllTrack = function(){
            var allTracks = this.doRequest('GET', ALL_TRACKS_URI, null);
            return allTracks;
        };
        // Envoie de la position et du numéro de la track en cours au serveur
        this.postPositionTrackPlaylist = function(position, numTrack){
            var data = JSON.stringify({position : position, numTrack : numTrack});
            this.doRequest('POST', POSITION_TRACK_PLAYLIST_URI, data);
        };
        // Récupération de la position de la track en cours
        this.getPositionTrack = function(){
            var positionTrack = this.doRequest('GET', GET_POSITION_TRACK_URI, null);
            return positionTrack;
        };
        // Récupération du numéro de la track en cours
        this.getNumTrack = function(){
            var numTrack = this.doRequest('GET', GET_NUM_TRACK_URI, null);
            return numTrack;
        };

        this.doRequest = function(verb, url, data){
            var response;
            $.ajax({
                url:  url,
                type: verb,
                contentType: "application/json; charset=utf-8",
                data: data,
                async: false,
                success: function(resp) {
                    response = resp;
                },
                error: function(xhr) {
                    console.log("Error when " + verb + url);
                }
            });
            return response;
        };
    }
    var myMusicPlayer = new MusicPlayer();
</script>
</body>
</html>