@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#player{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.glyphicon-play, .glyphicon-forward{
    color: #000000;
}
.glyphicon-play:hover, .glyphicon-forward:hover{
    color: #c9302c;
    cursor: pointer;
}

.nav-pills > li{
    float: none;
    display: inline-block;
}