@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#player{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.glyphicon-play, .glyphicon-forward{
    color: #000000;
}
.glyphicon-play:hover, .glyphicon-forward:hover, .glyphicon-pause:hover, .glyphicon-download:hover{
    color: #c9302c;
    cursor: pointer;
}



.nav-pills > li{
    float: none;
    display: inline-block;

}

.table{
    border-collapse: collapse;
    border-width : 1px;
}

th:hover{
    background-color:#C1CDCD;
}

td:hover{
    background-color:#EBECE4;
}

header{
    height : 75px;
    letter-spacing : 15px;
    text-emphasis: filled;
    vertical-align: text-bottom;
    text-align : center;
    color : white;
    background-image: url('header.jpg');
    background-position : center;
    font-family : Arial, Verdana, sans-serif;
    line-height : 90px;

}

#player{
    background-color: #204d74;
    padding: 10px;
    width : 300px ;
    border:1px solid #DDD;
    margin : auto;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;



}