@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*Styles généraux*/
html{
    height: 100%;
}
body{
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    height: 94%;
}
header{
    letter-spacing : 8px;
    text-emphasis: filled;
    text-align : center;
    margin-bottom: 50px;
    background-image: url('header.jpg');
    background-position : center;
    font-family : Arial, Verdana, sans-serif;
    line-height : 90px;
}
p{
    margin-bottom: 0;
}
li{
    list-style: none;
}
h1{
    color: #D93829;
    text-shadow: #080808;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: 0;
}
.table{
    border-collapse: collapse;
    margin : 10px;
}
th:hover{
    background-color:#C1CDCD;
}
td:hover{
    background-color:#EBECE4;
}
.table-striped > tbody > tr > td{
    background-color: #202020;
}
.table-striped > tbody > tr > td {
    background-color: #202020;
}
.table-striped > tbody > tr:nth-of-type(odd) > td {
    background-color: #2a2a2a;
}
.table-striped > tbody > tr:nth-of-type(odd):hover  > td{
    background-color: #2a2a2a;
}
.wrap{
    min-height: 94%;
}
.clearfix {
    overflow: auto;
}
a{
    color: #ffffff;
}
a:focus{
    color: #F27329;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #202020;
    border-bottom: 2px solid #F27329;
    border-radius: 0;
    font-size: 22px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #F27329;
    border-radius: 0;
    color: white;
}
.nav-pills{
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #F27329;
    border-color: #F27329;
    border-radius: 0;
}
.nav{
    background-color: #202020;
    margin-bottom: 20px;
}
.search{
    width: 50%;
    margin-top: 20px;
}
.image{
    width: 100%;
}
.nav-pills > li{
    float: none;
    display: inline-block;
}
.align-right{
    text-align: right;
}
/*Custom des icones bootstrap*/
.glyphicon{
    position: absolute;
    top: 34px;
    right: 7%;
}
.glyphicon-play, .glyphicon-forward, .glyphicon-pause{
    color: #F27329;
}
.glyphicon-heart, .glyphicon-fire{
    position: relative;
    top: 2px;
    right: -4px;
}
.glyphicon-plus, .glyphicon-remove{
    position: relative;
    top: 0;
    right: 0;
 }
.glyphicon-plus:hover, .glyphicon-remove:hover{
    cursor: pointer;
    color: #F27329;
}
.glyphicon-heart:hover{
    cursor: pointer;
    color: #F27329;
}
.glyphicon-play:hover, .glyphicon-forward:hover, .glyphicon-pause:hover, .glyphicon-download:hover{
    cursor: pointer;
}
.glyphicon-th-large{
    font-size: 15px;
}
.linkglyphicon{
    color: #ffffff;
}
.linkglyphicon:hover{
    color: #F27329;
}
/*Player*/
#player{
    background-color: #202020;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
    width : inherit;
    width: 45%;
    margin: 0 auto;
    display: block;
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
}
.infosTrack{
    margin-top: 10px;
}
.cover_current {
    margin-bottom: 20px;
    display: inline-block;
}
.cover_current img{
    width: auto;
}
.current_track{
    color: white;
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
}
#current_track span{
    font-size: 26px;
}
/*Progress bar*/
.progress{
    margin-left: 5px;
    margin-right: 5px;
    margin: 0;
    width: 100%;
    height: 6px;
    border-radius: 0;
    position: absolute;
    bottom: 0;
}
/* Bouton volume */
#slider{
    margin-left: 4px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 86px;
    position: relative;
    height: 10px;
    background-color: #8e8d8d;
    background: url('../images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    0 1px 0 0px rgba(250, 250, 250, .5);
}
.tooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.volume {
    content: "";
    display: inline-block;
    width: 25px;
    height: 18px;
    background: url('../images/volume.png') no-repeat 0 -50px;
    position: relative;
    margin-top: -5px;
}
#volumeDiv{
    height: 65px;
    margin-top: -33px;
}
.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('../images/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #D93829;
    outline: none;
    top: -7px;
    margin-left: -12px;
}
.ui-slider-range {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
/*Playlist*/
.playliste{
    width: 80%;
    margin: 0 auto;
}
.image_recherche{
    width: 92%;
}
/*Blocs*/
#grille{
    display : none;
}
.thumbnail{
    height : 127px;
    background-color: rgba(45, 45, 45, 0.98);
    border-collapse: collapse;
    border-color: #F27329;
    border-radius: 0%;
}
.thumbnail.row{
    margin-left:10px;
    margin-right: 10px;
}
.caption > fieldset{
    float : left;
    padding-top : 8px;
    padding-left : 0;
    font-family: fantasy;
}
.gril-pic{
    width : 100px;
    float : left;
    padding-left : 0px;
}
#choix{
    float : right;
    height : 40px;
    background-color: #F27329;
    border-collapse: collapse;
    border-color: #111111 ;
}
#choix:hover{
    background-color: #337ab7;
}
.description{
    text-align: left;
    margin-left: 5px;
}
.optionsCatalogue{
    margin-left: 12px;
}
.nomAlbum{
    font-style: italic;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titreChanson{
    width: 100%;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
}
.btn-alt{
    color: #101010;
    background-color: #d87b1b;
    border-color: #F27329;
    border-radius: 0;
}

.btn-alt:hover {
    background-color: #438f43;
}
/*Footer*/
footer{
    position: relative;
    clear:both;
    margin-top: 0px;
    height: 45px;
    text-align: center;
}
footer p{
    margin-bottom: 0;
}

/* RESPONSIVE DESIGN */
/* ==== Media Queries ==== */

/* Wide Screen */
@media (min-width : 1200px) {
}

/* Default Screen */
@media (min-width : 992px) and (max-width : 1199px) {
}

/* Tablet Screen Big */
@media (min-width : 768px) and (max-width : 991px) {
    #player {width: 50%; margin: 0 auto;margin-bottom: 30px;}
    img{width: 49%}
    .playliste {margin-right: 0px;}
    .description{float:right;}
    .playliste {margin-right: 0px;}
    .gril-pic{width:130%}
}

/* Tablet Screen Small */
@media (min-width : 640px) and (max-width : 767px) {
    #player {width: 50%; margin: 0 auto;margin-bottom: 30px;}
    img{width: 49%}
    .playliste {margin-right: 0px;}
    .description{float:right;}
    .playliste {margin-right: 0px;}
    .gril-pic{width:130%}
}

/* Mobile Screen Wide */
@media (min-width : 420px) and (max-width : 640px) {
    #player {width: 50%; margin: 0 auto;margin-bottom: 30px;}
    img{width: 49%}
    .playliste {margin-right: 0px;}
    .description{float:right;}
    .playliste {margin-right: 0px;}
    .gril-pic{width:130%}
}

/* Mobile portrait */
@media (max-width : 420px) {
    #player {width: 50%; margin: 0 auto;margin-bottom: 30px;}
    img{width: 49%}
    .playliste {margin-right: 0px;}
    .gril-pic{width:130%}
}